/*bACKGROUND COLOR*/
body {
    background-color: lightgrey;
}
h1 { color: darkgoldenrod;}
h2 { color:black;}

/* mouse over link */
a:hover {
    color: darkgoldenrod;
}
/* unused links are black */
    a:link {
        color: black;
    }

